body {
    background: #22c4d9;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 50px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.315);
}
div {
  padding: 9px;
  font-family: Cursive;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
